.container {
  padding: 10px;
}

/* --- header --- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.edit,
.add {
  color: white;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.edit {
  background-color: #4f4f4f;
}

.add {
  background-color: var(--tag-mint);
}

/* --- grid --- */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 10px 30px;
}

.link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}

.form {
  width: min-content;
  position: relative;
  left: 95%;
}

.delete {
  font-size: 16px;
  color: #4f4f4f;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.delete:hover {
  color: white;
}

.preview img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
  filter: brightness(80%);
  object-fit: cover;
  object-position: center;
  transition: all 0.1s ease-in;
}

.preview img:hover {
  filter: brightness(100%);
}

.link h1 {
  width: fit-content;
  cursor: pointer;
  font-size: 20px;
}

.link h1:hover {
  text-decoration: underline;
}

.link_bottom {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link_tags {
  display: flex;
  gap: 10px;
}

.link_tag {
  font-size: 13px;
  background-color: var(--color);
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.addTag {
  width: 36px;
  height: 36px;
  color: white;
  background: #4f4f4f;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
