.container {
  padding: 10px;
}

/* --- header --- */

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

/* --- grid --- */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 10px 30px;
}

.link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}

.form {
  width: min-content;
  position: relative;
  left: 95%;
}

.delete {
  font-size: 16px;
  color: #4f4f4f;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.delete:hover {
  color: white;
}

.preview img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
  filter: brightness(80%);
  object-fit: cover;
  object-position: center;
  transition: all 0.1s ease-in;
}

.preview img:hover {
  filter: brightness(100%);
}

.link h1 {
  width: fit-content;
  cursor: pointer;
  font-size: 20px;
}

.link h1:hover {
  text-decoration: underline;
}

.inst_tag {
  position: absolute;
  left: 40px;
  background-color: #4f4f4f;
  padding: 20px;
  border-radius: 20px;
}

.inst_bookmark {
  position: absolute;
  right: 40px;
  background-color: var(--tag-mint);
  padding: 20px;
  border-radius: 20px;
}
