.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  z-index: 1;
}

.tag {
  font-size: 13px;
  background-color: var(--color);
  min-width: 50px;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bolder;
  z-index: 1;
}

.editing .tag {
  padding: 10px 12px;
  gap: 4px;
}

.not_selected {
  background-color: #323232;
}

.editTagsBtn,
.add {
  border: 0;
  width: 36px;
  height: 36px;
  color: white;
  background: #4f4f4f;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.overlay,
.palette_overlay {
  display: none;
}

.editing .overlay,
.palette_overlay {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #080318;
  opacity: 0.3;
}

.palette_overlay {
  background-color: transparent;
}

.editing .tag {
  cursor: default;
}

.delete {
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.formContainer {
  height: 0;
  position: relative;
  z-index: 1;
}

.form {
  margin-top: 10px;
  position: absolute;
  display: flex;
  gap: 10px;
  z-index: 1;
  background-color: #4f4f4f;
  padding: 10px;
  border-radius: 20px;
}

.formContainer.right .form {
  right: -10px;
}

.name {
  color: white;
  background-color: transparent;
  border: 0;
  outline: none;
  text-indent: 10px;
  width: 100px;
}

.name:-webkit-autofill,
.name:-webkit-autofill:hover,
.name:-webkit-autofill:focus,
.name:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}

.name:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

.color {
  background-color: var(--color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.palette {
  position: absolute;
  top: 56px;
  left: -10px;
  width: 148px;
  height: 148px;
  background-color: #4f4f4f;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.paletteColor {
  cursor: pointer;
  background-color: var(--color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
