:root {
  --tag-red: #c47373;
  --tag-orange: #c49073;
  --tag-yellow: #bdc473;
  --tag-green: #73c47c;
  --tag-mint: #73c4bf;
  --tag-purple: #9c73c4;
  --tag-plum: #c473b2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: #080318;
}

main {
  width: 100%;
  height: calc(100% - 45px);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
